- content_for :before_content do
  %a.awesome.orange.start-painting{ :href => "/paintings/new", :title => "Start a new painting" } Start painting

- if !@paintings.empty?
  %h3 Check out our gallery&hellip;
  %ul.paintings-list
    - @paintings.each do |painting|
      %li
        %em= painting.name
        %a{ :href => "/paintings/#{painting.id}/edit", :title => "Paint on this painting" } Paint
        %a{ :href => "/paintings/#{painting.id}", :title => "View this painting" } View
- else
  %p
    There are no paintings! You're going to have to go and
    %a{ :href => "/paintings/new", :title => "Start a new painting" } begin one