- if !@paintings.empty?
  %ul.paintings-list
    - @paintings.each do |painting|
      %li
        %a{ :href => "/paintings/#{painting.id}", :title => "Paint on this painting" }= painting.name
- else
  %p
    There are no paintings! You're going to have to go and
    %a{ :href => "/paintings/new", :title => "Start a new painting" } begin one