!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title It's a painting
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :type => "text/css", :media => "all", :charset => "utf-8" }

    = yield_content :in_head

  %body
    .container
      %h1
        %a{ :href => "/", :title => "Back to home", :rel => "home" } It's a painting
      = yield_content :before_content
      #content= yield
