html body * span.clear,html body * div.clear,html body * li.clear,html body * dd.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}body{font-size:75%;font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;line-height:1.5em}html>body{font-size:12px}

.container {width:900px;padding:9px 10px;margin:0 auto}

  h1 {float:left}
  a#clear {float:right;margin-bottom:9px}

  #painting {clear:both;width:900px;height:600px;margin:0 0 9px 0;border:1px solid #ccc}

  .colours {height:18px}
    .colours li {float:left;margin-right:10px}
      .colours a {display:block;text-indent:-999em;width:16px;height:16px;background-color:black}
      .colours a:link, .colours a:visited {border:1px solid #fff}
      .colours a:hover {border-color:#333}
      .colours a.active:link, .colours a.active:visited, .colours a.active:active, .colours a.active:hover, .colours a.active:focus {border-color:#000}
      .colours .to-blue {background-color:blue}
      .colours .to-red {background-color:red}
