%a#clear{ :href => "#", :title => "Clear" } Clear
#painting
  \&nbsp;
%ul.colours
  %li
    %a.to-blue{ :href => "#", :title => "Blue" } Blue
  %li
    %a.to-black{ :href => "#", :title => "Black" } Black
  %li
    %a.to-red{ :href => "#", :title => "Red" } Red
