- content_for :in_head do
  %link{ :href => "/stylesheets/jquery-ui-1.7.2.custom.css", :rel => "stylesheet", :type => "text/css", :media => "all", :charset => "utf-8" }
  %script{ :src => "/javascripts/jquery-1.3.2.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/jquery-ui-1.7.2.custom.min.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/raphael.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/raphael.path.methods.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/json2.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/Painter.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/jquery.painter.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/application.js", :type => "text/javascript", :charset => "utf-8" }

- content_for :before_content do
  .utilities
    #painting-name= @painting.name

#studio

  #painting_surface
    \&nbsp;

  #painting{ :rel => "id-#{@painting.id}" }
    \&nbsp;

:javascript

  var state = #{@painting.history};
