- content_for :in_head do
  %script{ :src => "/javascripts/jquery-1.3.2.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/raphael.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/raphael.path.methods.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/Painter.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/jquery.painter.js", :type => "text/javascript", :charset => "utf-8" }
  %script{ :src => "/javascripts/application.js", :type => "text/javascript", :charset => "utf-8" }

- content_for :before_content do
  %a#clear{ :href => "#", :title => "Clear", :class => "grey awesome" } Clear

#painting
  \&nbsp;
%ul.colours
  %li
    %a.to-black{ :href => "#", :title => "Black" } Black
  %li
    %a.to-grey{ :href => "#", :title => "Grey" } Grey
  %li
    %a.to-white{ :href => "#", :title => "White" } White
  %li
    %a.to-blue{ :href => "#", :title => "Blue" } Blue
  %li
    %a.to-purple{ :href => "#", :title => "Purple" } Purple
  %li
    %a.to-pink{ :href => "#", :title => "Pink" } Pink
  %li
    %a.to-red{ :href => "#", :title => "Red" } Red
  %li
    %a.to-brown{ :href => "#", :title => "Brown" } Brown
  %li
    %a.to-orange{ :href => "#", :title => "Orange" } Orange
  %li
    %a.to-yellow{ :href => "#", :title => "Yellow" } Yellow
  %li
    %a.to-green{ :href => "#", :title => "Green" } Green
